<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        table,
        table tr th,
        table tr td {
            border: 1px solid #ccc;
        }

        .shadow {
            position: fixed;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.3;
            left: 0;
            top: 0;
        }

        .mod_dialog {
            width: 300px;
            height: 200px;
            border: 1px solid black;
            background: #fff;
            position: fixed;
            left: 50%;
            top: 50%;
            margin-left: -150px;
            margin-right: -100px;
        }

        img{
            width: 32px;
            height: 32px;
        }
    </style>
</head>

<body>
    <div class="page">
        <% include components/top.inc.ejs %>
            <div class="content-wrap">
                <div>
                    <form action="?" method="post" enctype="multipart/form-data">
                        标题：<input type="text" name="title" /><br> 
                        描述：<textarea name="description" id=""></textarea><br> 
                        头像：<input type="file" name="f1" /><br>
                        <input type="submit" value="添加">
                    </form>
                </div>
                <table boder="1" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>标题</th>
                            <th>描述</th>
                            <th>链接</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < evaluations.length; i++) { %>
                            <tr>
                                <td>
                                    <%=evaluations[i].ID%>
                                </td>
                                <td>
                                    <%=evaluations[i].title%>
                                </td>
                                <td>
                                    <%=evaluations[i].description%>
                                </td>
                                <td>
                                    <img src="/upload/<%=evaluations[i].src%>" alt="">
                                </td>
                                <td>
                                    <a href="?act=mod&id=<%=evaluations[i].ID%>">修改</a>
                                    <a href="?act=del&id=<%=evaluations[i].ID%>" onclick="return confirm('真的要删除吗？')">删除</a>
                                </td>
                            </tr>
                            <% }%>
                    </tbody>
                </table>
                <% if(typeof mod_data != 'undefined') {%>
                    <div class="shadow">

                    </div>
                    <div class="mod_dialog">
                        <form action="?" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="mod_id" value="<%= mod_data.ID%>" /> 
                            标题：<input type="text" name="title" value="<%= mod_data.title%>" /><br> 
                            描述：<textarea name="description" id=""><%= mod_data.description%></textarea><br> 
                            头像：<input type="file" name="f1" /><br>
                            <input type="submit" value="修改">
                            <a href="/admin/custom">取消</a>
                        </form>
                    </div>
                    <% } %>
            </div>
    </div>
</body>

</html>